nav.navbar {
  background: transparent;
  padding: 1rem 1rem 0;
  border-bottom: 1px solid $gray-200;

  #logo {
    height: 1rem;
    margin-right: .75rem;
    width: 1rem;
    path {
      fill: $blue;
    }
  }

  .nav-link a { 
    padding-bottom: 1rem;
    padding-top: .25rem; 
  }

  .nav-link.active {
    border-bottom: 4px solid $blue;
  }

  li { margin: 0 .75rem; }

  a {
    font-size: .9rem;
    color: $gray-700;

    &:hover {
      color: $gray-600;
      text-decoration: none;
    }
  }

  .dropdown:hover>.dropdown-menu {
    display: block;
  }

  .dropdown-toggle {
    padding-right: 0;
  }
}

#stories {
  border-bottom: 4px solid $blue;
  padding-bottom: 10px;
}